/* Navbar Styles */
.navbar{
  background-color: #c40c00;
}
.linkText{
  color: white;
  font-size:medium ;
}
.brandText{
  color:white;
  font-weight: 700;
}

/* General Styles for main page */
.blueBg{
  background-color: #0d1b58;
}
.blueBg2{
  background-color: #070f33;
}
.whiteBg{
  background-color: white;
  padding: 0;
  margin: 0;
}
.images, .text{
  display: flex;
  align-items: center;
}
.topMargin{
  margin-top: 25px;
}
.bottomMargin{
  margin-bottom: 25px;
}




/*Specific Styles for text and images*/

/* First Row */
.aboutImage{
  margin-left: 0;
  padding-top: auto;
  
}
.aboutText{
  width: 50%;
  text-align: end;
  margin-left: auto;
  margin-right: 10px;
  color: white;
  border-left: 5px solid white;
  padding-left: 5px;
}

/* Second Row */
.personalText, .methodologyText{
  font-weight: 700;
  color: #a40a00;
}
.methodologyImage{
  margin-top: 25px;
  margin-bottom: 25px;
}
.personalText{
  margin-left: auto;
  width: 50%;
  text-align: end;
  margin-right: 10px;
}
.methodologyText{
  margin-right: auto;
  width: 50%;
  text-align: start;
  margin-left: 10px;
}

/* Third Row */
.materialImage{
  margin-right: 0;
}
.materialText{
  width: 50%;
  margin-right: auto;
  color: white;
  border-right: 5px solid white;
  padding-right: 7px;
  margin-left: 15px;
}





.fourthRowText{
  margin-left: auto;
}
.fourthRowEmail{
  height: 50%;
  /* border-style: solid; */
}
.fourthRowEmail>h4{
  margin-top: auto;
  margin-bottom: 0;
}
.fourthRowInsta{
  height: 50%;
  /* border-style: solid; */
  margin-bottom: auto;
}


.footer{
  background-color: #c40c00;
}
.fab {
  padding: 20px;
  font-size: 50px;
  text-align: center;
  display: inline-block;
  color: white;
}
